<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- put logs in a writable directory -->
    <iisnode
      devErrorsEnabled="true"
      loggingEnabled="true"
      logDirectory="D:\home\LogFiles\iisnode"
      flushResponse="true"
    />

    <rewrite>
      <rules>
        <rule name="NextJsServer" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>